
@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_myLayoutSEBOPage.cshtml";
}


    <div>


    </div>

    <div class="col-md-4">
        <p>This is body.</p>
        <img src="http://www.stickpng.com/fr/img/films/dessins-animes/ouioui/ouioui-doigt-leve" />
    </div>


