@model IEnumerable <Client_WEB_SEBO.Models.POCO.ligne_de_commande>

@foreach (var ldc in Model)
{
    
   <div>
        @Html.DisplayName(ldc.idCommande.ToString())
        @Html.DisplayName(ldc.reference)    
        @Html.DisplayName(ldc.qte.ToString())
       
    </div>

}
 