@model Client_WEB_SEBO.Models.ViewModel.ViewArticleModel


@foreach (Client_WEB_SEBO.Models.Article article in Model.articles)
{
    var genre= Model.genres.Where(item => item.type == article.type).FirstOrDefault();
    string categorie = "grid__item "+ genre.nomCategorie;
    <div class=@categorie >
        <div class="slider">
            <div class="slider__item">
                @{ if (!article.image.IsEmpty())
                    {
                        string urlImage = article.image;
                        <img class="topnav" src=@urlImage />

                    }
                    else
                    {

                        string urlImage = article.image;
                        <img class="catalogue" src="~/Images/icones/false.png" />
                    }
                }
            </div>
            <div class="slider__item"><img src="~/images/imgFilterableProductGrid/trousers.png" alt="Dummy" /></div>
            <div class="slider__item"><img src="~/images/imgFilterableProductGrid/trousers.png" alt="Dummy" /></div>
        </div>
        <div class="meta">
            <h3 class="meta__title">@article.titre</h3>
            <span class="meta__brand">@article.auteur</span>
            <span class="meta__price">€@article.prix</span>
            
        </div>
        <button class="action action--button action--buy"><i class="fa fa-shopping-cart"></i><span class="text-hidden">Add to cart</span></button>
    </div>
    
}